* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: sans-serif;
    
}

div.h1 {
    width: auto;
    height: 200px;
    padding: 50px;
    margin: 10px;
    background-color: lightgray;

    border: 20px solid black;
    text-align: center;
}

ul.recipe-list {
    width: auto;
    height: 600px;
    padding: 50px;
    margin: 10px;
    background-color: aquamarine;
    list-style-type: none;
    border: 20px solid black;
    text-align: center;
}

li.cheesecake, li.poundcake, li.brownies {
    width: auto;
    height: 100px;
    padding: 50px;
    margin: 10px;
    background-color: deepskyblue;

    border: 20px solid black;
    text-align: center;
}

















div.footer {
    width: auto;
    height: 100px;
    padding: 50px;
    margin: 10px;
    background-color: bisque;

    border: 20px solid black;
    text-align: center;
}